<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-autoupdate" version="0.1.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>AutoUpdate</name>
    <author>liwenlong</author>
    <description>Cordova AutoUpdate Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,autoupdate</keywords>
    <js-module name="autoupdate" src="www/autoupdate.js">
        <clobbers target="autoupdate" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="config.xml">
            <feature name="AutoUpdate">
                <param name="android-package" value="com.github.jien.autoupdate.AutoUpdatePlugin.java" />
            </feature>
        </config-file>
        <source-file src="src/android/AutoUpdatePlugin.java" target-dir="src/com/github/jien/autoupdate/AutoUpdatePlugin.java" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="AutoUpdate">
                <param name="ios-package" value="AutoUpdate" />
            </feature>
        </config-file>
        <source-file src="src/ios/AutoUpdate.m" />
    </platform>
    <dependency id="cordova-plugin-file-transfer" version="^1.6.3">
</plugin>